# ----------------------------------------------------------------- #
# Editor SPECIFIC                                                   #
# ----------------------------------------------------------------- #
.idea/*
!/.idea/runConfigurations
.vscode/
# ----------------------------------------------------------------- #
.DS_Store
.env
dist
coverage
doc
# ----------------------------------------------------------------- #
# Yarn                                                              #
# ----------------------------------------------------------------- #
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

node_modules/
yarn-error.log
# ----------------------------------------------------------------- #